
.leftcard{
    /* border: 2px solid skyblue; */
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 8px;
    margin: 4px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px;
    
}

.my-profile{
}

.my-profile h3{
text-align: center;
margin-top: 0;
}

.my-profile ul {
    border-top: 1px solid grey;
    list-style: none;
    padding: 0;
    padding-left: 1em;
    padding-top: 1em;
    margin-bottom: 0;
}

.my-profile ul li{
    margin: 0.4em;
}


.my-profile .profile-picture{
    background-image: url(https://miro.medium.com/max/640/1*u9XxY1pRzpqNWR1wJINBeA.jpeg);
    width: 80%;
    aspect-ratio: 1 / 1;
    margin: auto;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu h4{
    background-color: steelblue;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0.6em 1.5em;
}

.menu h4:first-of-type{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}


.menu p{
    padding-left: 1em;
    width: 100%;
}


.menu .collage-pic{
    width: 45%;
    aspect-ratio: 4 / 3;
    margin: 8px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .collage-pic:nth-last-of-type(1){
    background-image: url(https://cdn.pixabay.com/photo/2017/12/15/13/51/polynesia-3021072_960_720.jpg);
}
.menu .collage-pic:nth-last-of-type(2){
    background-image: url(https://cdn.pixabay.com/photo/2016/11/18/17/14/men-1835901_960_720.jpg);
}
.menu .collage-pic:nth-last-of-type(3){
    background-image: url(https://cdn.pixabay.com/photo/2017/08/12/18/31/male-2634974_960_720.jpg);
}
.menu .collage-pic:nth-last-of-type(4){
    background-image: url(https://cdn.pixabay.com/photo/2019/12/18/13/07/right-4703934_960_720.jpg);
}
.menu .collage-pic:nth-last-of-type(5){
    background-image: url(https://cdn.pixabay.com/photo/2014/07/31/23/28/car-407165_960_720.jpg);
}
.menu .collage-pic:nth-last-of-type(6){
    background-image: url(https://cdn.pixabay.com/photo/2015/01/07/15/51/woman-591576_960_720.jpg);
}


.interests{
    padding: 0;
}


.interests h4{
    background-color: steelblue;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0.6em 1.5em;
}

.interests .interests-links{
    padding: 0.5em;
    text-align: justify;
}

.interests-links a{
    color: black;
    text-decoration: none;
    font-size: smaller;
}

.interests-links a:hover{
    cursor: pointer;
    font-weight: bold;
}
.interests-links .strong-3{
    background-color: rgb(138, 171, 177);
}
.interests-links .strong-2{
    background-color: rgb(181, 215, 221);
}
.interests-links .strong-1{
    background-color: rgb(202, 233, 238);
}

.visitors{
    flex-direction: row;
    flex-wrap: wrap;
}

.visitors h4{
    width: calc(100% - 1.1em);
    margin: 0;
}


.visitors i{
    justify-self: flex-end;
    align-self: flex-start;
    font-size: larger;
    color: steelblue;
}
.visitors i{
    justify-self: flex-end;
    align-self: flex-start;
    font-size: larger;
    color: steelblue;
}

.visitors .visitor-raw{
    width: 100%;
    height: 50px;
    
}