

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

.aside-right {
    width: 350px;

}

.aside-right .events, .aside-right .friend-request, .aside-right  .ADS .aside-right .bug {
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.aside-right .events .event-picture {
    width: 50%;
    height: 70%;
    margin: auto;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
}
.right  h4 {
    border: 1px dotted red;
    color:red;
    text-align: center;

}
.event-picture {
    width: 50%;
    background-image: url(https://images.pexels.com/photos/11035471/pexels-photo-11035471.jpeg?auto=compress&cs=tinysrgb&w=400);
    background-size:content;
    /* background-position: ; */
    margin:auto;
    aspect-ratio: 1 / 1;
}
.bug .fa-solid {
    display: flex;
    justify-content: center;
    
}