:root{
  --var
}


* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: red; */
}

body {
  background-color: rgb(225, 225, 225);
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
}

.left {
  width: 25%;
  min-width: 350px;
  border: 1px dotted black;
  margin: 5px;
  padding: 5px;
}

.right {
  width: 18%;
  min-width: 350px;
  border: 1px dotted black;
  margin: 5px;
  padding: 5px;
}
/* .card includes all shared styles and properties for cards */
.card {
  /* border: 2px solid skyblue; */
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 8px;
  margin: 4px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px;
  background-color: whitesmoke;
  border-radius: 3px;
}

/* Aigerim start Style*/
.main-center {
  margin: 0 5px 0 5px;
  margin-bottom: 20px;
  min-width: 450px;
}

.status-text {
  padding: 15px;
  border: solid 4px light gray;
  margin-top: 20px;
  border: solid 2px lightgray;
}

.search-post {
  display: flex;
  flex-direction: column;
}

.btn-post {
  width: 90px;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgb(25, 157, 229);
  border: none;
  color: white;
}
.poster-name {
  font-weight: bold;
}

.post-1,
.post-2,
.post-3,
.new-post {
  margin: auto;
}

.container-1,
.container-2,
.container-3,
.new-post {
  padding: 15px;
  margin-top: 15px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border-radius: 5px;
}
.person-one,
.person-two,
.person-tree {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#name-pic {
  display: flex;
  align-items: center;
}

.poster-pic {
  display: flex;
  border: none;
  border-radius: 100%;
  margin-right: 10px;
  border-bottom: solid 1px lightgray;
}
.poster-name {
  width: 100px;
}
.time-left {
  display: flex;
  font-size: 15px;
  color: gray;
}
.main-post-pic {
  display: flex;
  gap: 15px;
}
.post-btn {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.like.btn {
  margin-left: 10px;
}

.like-btn,
.comment-btn {
  padding: 10px 20px 10px 20px;
  background-color: rgb(25, 157, 229);
  border: none;
  color: white;
  font-size: smaller;
}

p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

.last-para {
  margin-bottom: 0;
}
.post-text {
  border-top: solid 1px lightgray;
  margin-top: 20px;
  padding-top: 20px;
}
.link-bootcamp {
  color: black;
}

.btn-hover:hover {
  background-color: darkgray;
  color: black;
}

.comment-pic {
  display: inline-block;
  width: 48%;
}

/* Aigerim end Style*/


.bug i{
  font-size: 50px;
}



@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  /* Aigerim phone screen layout */
  .main-post-pic {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .comment-pic {
    width: 100%;
  }
}
